<div class="section">
  <div class="col-12 center">
    <div class="title">
      <span>
        Benefits
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
    <div>
      <div class="col-12 profile text-center">
        <p>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 card-div">
      <div class="card" >
        <div class="text-center d-flex align-items-center py-5 px-4 rounded">
          <div>
            <span class="fa fa-spinner"></span><br>
            <span style="margin-top:25px">Real time morphing</span>
            <p class="pb-3 card-info">
              The Sculptor family of products provides real-time morphing technology for a wide range of 3D models including STL, point clouds, CAD data, and analysis mesh data.   </p>        </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 card-div">
          <div class="card" >
            <div class="text-center d-flex align-items-center py-5 px-4 rounded">
              <div>
                <span class="fa fa-link"></span><br>
                <span style="margin-top:25px">Robust</span>
                <p  class="pb-3 card-info">
                  This "best-in-class" morphing technology has been road tested and proven robust on simulation based shape optimization, the most stringent of morphing applications.   </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
