<div class="section">
  <div class="col-12">
    <div class="title text-center">
      <span>
        Get in touch with us
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" style="margin-top:75px;">
    <div class="row">
      <div class="col-lg-7">
        <div>
          <p class="heading-contact">Contact Us</p>
          <div>
            <form>
              <div class="row">
                <div class="col-lg-6">
                  <label class="form-label" for="contactName">Name*</label>
                  <input type="text" id="contactName" class="form-control">
                  <br>
                </div>
                <div class="col-lg-6">
                  <label class="form-label" for="contactEmail">E-mail address*</label>
                  <input type="email" id="contactEmail" class="form-control">
                  <br>
                </div>
              </div>
              <label class="form-label" for="contactSubject">Subject*</label>
              <input type="text" id="contactSubject" class="form-control">
              <br>
              <label class="form-label" for="contactMessage">Message*</label>
              <textarea type="text" id="contactMessage" class="form-control" rows="10"></textarea>
              <div class="btn-send-msg">
                <button type="button" class="btn-custom">Send message</button>
              </div>
            </form>
          </div>
        </div>

      </div>
      <div class="col-lg-5 text-lg-right text-sm-left">
        <p class="heading-support">Get Support</p>
        <p class="support-info">
          <span class="fa fa-map-marker"></span>
           <span class="support-info">  Avanti, Road No.12, Banjara Hills,<br>
          Hyderabad 500 034, India.</span>
        </p>
        <p class="support-info">
          <span class="fa fa-phone"></span>
          <span>  +91-93900-04190</span>
        </p>
        <p class="support-info">
          <span class="fa fa-envelope-o"></span>
          <span class="support-info">  info@kfourmetrics.com</span>
        </p>
      </div>
    </div>
  </div>
</div>
