<div class="section">
  <div class="col-12">
      <div class="title text-center">
        <span>
          Our products
        </span>
      </div>
    <div>
      <div id="browser" class="text-center">
          <!-- <div class="col-1 text-left">
            <i href="#" id="left-button" class="fa fa-angle-left scroll-left" (click)="scrollLeft()"></i>
          </div> -->
          <div>
            <ul id="content">
              <li class="col-lg-4 xcol-md-12"><img src="./assets/images/pw-logo.png"/></li>
              <li class="col-lg-4 xcol-md-12"><img src="./assets/images/sculptor-logo.png"/></li>
              <li class="col-lg-4 xcol-md-12"><img src="./assets/images/tecplot-logo.png"/></li>
            </ul>
          </div>
          <!-- <div class="col-1 text-right">
            <i href="#" id="right-button" class="fa fa-angle-right scroll-right" (click)="scrollRight()"></i>
          </div> -->
      </div>
    </div>
  </div>
</div>
