

<section class="section col-12">
  <div class="row">
    <div class="left col-lg-6">
      <div class="title">
        <span>Sole distributors</span> <br>
        <span>in India</span>
        <div>
          <div class="underline-div col-lg-5 offset-lg-0 col-md-4 offset-md-4 col-4 offset-4">
            <hr class="underline">
          </div>
        </div>
      </div>
      <div class="title-text">
        <span>
        With our focus on the defence and aerospace sectors, we sought to partner with companies that had a similar set of values and provided solutions to technology challenges. KFour Metrics is now the sole distributor in
        India for Pointwise, Sculptor & Tecplot.
        </span>
      </div>
    </div>
    <div class="right col-lg-6 d-none d-lg-block">
      <img class="img-responsive" src="./assets/images/distributor.png" />
    </div>
  </div>
</section>
