

<section>
  <div class="container">
    <div class="row">
      <div class="section-title col-12">
      <!-- <h2>What we do</h2> -->
      <h3 class="py-3 font-weight-bold">
        <strong>What we do</strong>
      </h3>
      <div class="underline">
      <span class="line"></span>
    </div>
  </div>
  <div class="col-12">
    <div xclass="lead bg-white">
    </div>
    <!-- <h2 class="font-weight-bold h1 py-5">
      <strong>What we do</strong>
    </h2> -->
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card card-image" style="background-image: url('./assets/images/tecplot2.jpg'); background-repeat:no-repeat; background-size:cover;">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h3 class="py-3 font-weight-bold">
                <strong>What we believe in</strong>
              </h3>
              <p class="pb-3 text-white-gray">
                We believe analysis, design, implementation and evaluation are the cornerstone of engineering. Our strategy has always been to focus on niche technologies: KFour Metrics is a result of this focus.
              </p>
              <p  class="pb-3 text-white-gray">
                KFour Metrics offers technology solutions for engineering design simulation and optimization.
                KFour Metrics has evolved over 3 decades of focused development. Beginning the eventful journey
                back in 1994, the goal was always to be at the forefront of emerging technology.
                The foundation was laid starting with Krittika Software Pvt. Ltd., an engineering
                design company based in Hyderabad. Krittika Software provided 3D CAD and CAE training,
                engineering services and distributed MCAE software for (what was then) SDRC.
                The product-line grew to include Unigraphics / NX, Solid edge, HyperWOrks and
                Ls-Dyna, before we sold Krittika Software and started KFour Metrics.              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-4">
        <div class="card card-image" style="background-image: url('./assets/images/tecplot2.jpg'); background-repeat:no-repeat; background-size:cover;">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h3 class="py-3 font-weight-bold">
                <strong>What we believe in</strong>
              </h3>
              <p class="pb-3 text-white-gray">
                We believe analysis, design, implementation and evaluation are the cornerstone of engineering. Our strategy has always been to focus on niche technologies: KFour Metrics is a result of this focus.
              </p>
              <p  class="pb-3 text-white-gray">
                Technology was and still is growing at a rapid pace. Learning the practice and implementing the theory of engineering design solutions is a tough challenge for job seekers, job holders and companies investing heavily in research and development. KFour Metrics developed self-learning digital and hard copy teaching-aids for fresh graduates and working professionals on CAE.  A series of books covering topics like CAE and Design Optimization, CAE and Multi Body Dynamics, CAE for Simulation and Metal Forming, Managing the CAE Process and many more were conceptualised and published containing theoretical reasoning and workbooks with sample projects for practical applications using Altair HyperWorks and Simulia’s Abaqus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-12 mb-4">
        <div class="card card-image" style="background-image: url('./assets/images/tecplot3.jpg'); background-repeat:no-repeat; background-size:cover;">
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
            <div>
              <h3 class="py-3 font-weight-bold">
                <strong>Our focus</strong>
              </h3>
              <p class="pb-3 text-white-gray">
                With our focus on the defence and aerospace sectors, we sought to partner with companies that had a similar set of values and provided solutions to technology challenges. KFour Metrics is now the sole India distributor for
                - Pointwise, whose grid generation software is solving the top problem facing computational fluid dynamics (CFD) today – reliably generating high-fidelity meshes
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--Grid column-->
    </div>
  </div>
</div>
</div>
</section>
