<div class="section">
  <div class="col-12 xcenter">
    <div class="title text-center">
      <span>
        Get to know us better
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:75px">
    <div class="row pb-3">
      <div class="col-lg-4 col-sm-8 col-md-8 card-div">
        <div class="col-xs-12 card1">
          <div class="header">
            <p>
              <span class="name">Shaila</span><br>
              <span class="designation">Sales and Marketing</span>
            </p>
          </div>
          <div id="content1" class="card-content">
            <div class="col-12 pb-3">
              <p class="education">B.A. in English, Sociology and Economics from Bangalore University (1989).</p>
              <p class="education">M.B.A from Osmania University (2005) and is currently preparing her Ph.D Thesis on Strategic Leadership.</p>
              <p class="expertise">Expertise: Sales Strategy and Implementation, Account Management, and Employee Motivation and Engagement.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8 col-md-8 card-div">
        <div class="col-xs-12 card1" >
          <div class="header">
            <p>
              <span class="name">Venkatesh</span><br>
              <span class="designation">CEO</span>
            </p>
          </div>
          <div class="card-content">
            <div class="col-12 pb-3">
              <p class="education">B.Tech. in Mechanical Engineering from IIT Madras (1985).</p>
              <p class="education">M.S.E. in Aerospace Engineering and Engineering Mechanics from the University of Texas at Austin (1987).</p>
              <p class="expertise">Expertise: Computer Aided Design and Simulation of Mechanical Equipment, and Analysis of Technology Processes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8 col-md-8 card-div">
        <div class="col-xs-12 card1">
          <div class="header">
            <p>
              <span class="name">Kirti</span><br>
              <span class="designation">Project Management</span>
            </p>
          </div>
          <div class="card-content">
            <div class="col-12 pb-3">
              <p class="education">B.Tech in Mechanical Engineering from Osmania University (2003).</p>
              <p class="education">Masters in Mechanical Engineering from Western Michigan University (2006).</p>
              <p class="expertise">Expertise: Computer Aided Engineering (CAE), Project Management & Engineering, and Product Design.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
