.footer {
    background: #f5f5f5;
    //#f5f5f5
    padding: 35px 0;
  }
  .copyright {
    font-size: 12px;
}

.font-inc {
    // font-family: "Inconsolata", sans-serif;
     font-family: Roboto-Regular;
     // font-size:10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.font-inc2 {
    // font-family: "Inconsolata", sans-serif;
    margin-top:1.2em;
     font-family: Roboto-Regular;
      font-size:10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.m-b-0 {
    margin-bottom: 0 !important;
}
.logoJF{
  font-size:11px;
}
.logoK{
  font-size:12px;
  color:#EFAE00;
  font-weight:bold;
}
.logoMetrics{
  font-size:12px;
  color:#31708F;
  font-weight:bold;
}
