<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				
				<p class="copyright font-inc m-b-0">© 2018
					<a href="index.html" class="bold">
						<span class="logoK">K</span>
						<span class="logoMetrics">Four</span>
						<span class="logoMetrics">Metrics</span>
					</a>
				</p>

				<p class="font-inc2 m-b-0 logoJF">powered by
					<a href="http://jackfruitsolutions.com" target="_blank" class="bold orange-text">
						JACKFRUIT SOLUTIONS
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>
