<section class="section col-12">
  <div class="row">
    <div class="left col-lg-6">
      <div class="title">
        <span>TECPLOT</span>
        <div>
          <div class="underline-div col-lg-5 offset-lg-0 col-md-4 offset-md-4 col-4 offset-4">
            <hr class="underline">
          </div>
        </div>
      </div>
      <div class="title-text col-lg-10">
        <span class="row">
          Tecplot 360 helps you make engineering decisions quickly by integrating XY, 2D, and 3D plots. And it helps you communicate your results with brilliant images and animations—plotted exactly the way you want.
        </span>
        <div class="row">
          <a class="row btn-center" href="https://www.tecplot.com" target="_blank">
            <button class="btn-custom" type="button">Know more</button>
          </a>
        </div>
      </div>
    </div>
    <div class="center col-lg-6 d-none d-lg-block" style="margin-top:110px">
      <img class="img-responsive" src="./assets/images/tecplot1.jpg" style="width:100%; height:auto" />
    </div>
  </div>
</section>
