<section class="section">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#" routerLink="/home">
      <!-- <img src="./assets/images/k4-logo.png" alt="K4" width="250px" /> -->
      <span class="logoK">K</span>
      <span class="logoMetrics">Four</span>
      <span class="logoMetrics">Metrics</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#k4-nav" aria-controls="k4-nav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-th"></span>
  </button>

  <div class="collapse navbar-collapse" id="k4-nav">
    <ul class="navbar-nav m-auto">
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" href="#" routerLink="/home" routerLinkActive="active">HOME
        </a>
      </li>

      <li class="nav-item"data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" href="#" routerLink="/pointwise" routerLinkActive="active">POINTWISE
        </a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" xhref="#" routerLink="/sculptor" routerLinkActive="active">SCULPTOR</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item"  xhref="#" routerLink="/tecplot" routerLinkActive="active">TECPLOT</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item"  xhref="#" routerLink="/events" routerLinkActive="active">EVENTS</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" xhref="#" routerLink="/downloads" routerLinkActive="active">DOWNLOADS</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" xhref="#" routerLink="/team" routerLinkActive="active">TEAM</a>
      </li>

      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse">
        <a class="nav-link menu-item" xhref="#" routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
</section>
