<div class="section">
  <div class="col-12 text-center">
    <div class="title">
      <span>
        Downloads
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
  </div>
  <div class="row title-text">
    <ol _ngcontent-c4="" class="line-height-2">
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyAngleBetween3Points.glf.tcl">Measure the angle between 3 points</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyBlocksSegOnExamine.tcl">Isolate blocks that meet a rule </a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyCenterOfCircleThreePoints.glf">Isolate domains that meet a rule</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyCheckModelSize.glf.tcl">Find the center of a circle defined by any 3 points</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyConGetConnected.glf.tcl">List the max and min metrics of all blocks</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyConListDimAndDist.glf.tcl">List the max and min metrics of selected blocks</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyConWhereUsed.glf.tcl">Check the Model Size setting</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=myDomGetFirstCon.glf.tcl">Helps diagnose why connectors can't be joined</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyDomsSegOnExamine.tcl">Get connectorsthat are connected to the ones you pick</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyDomWhereUsed.glf">List the average spacings of connectors</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyJoinCtrsDelBrkpts.glf">Get a where-used report for connectors</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyListCtrsOfDomain.glf.tcl">Get a where-used report for domains</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyQuiltGetModel.glf.tcl">Get a parent-Model report for quilts</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyReportMaxAndMinAll.tcl">List the connectors used by a domain</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyReportMaxAndMinSelected.tcl">Join connectors and delete the breakpoints</a> </li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MySegregateByBCs.glf.tcl">Segregate domains by BCs</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MySegregateQuiltsByColor.glf.tcl">Segregate quilts by color</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MySortImportedModels.glf.tcl">Sort all imported models</a></li>
      <li _ngcontent-c4="" class="ng-tns-c4-28"><a _ngcontent-c4="" class="ng-tns-c4-28" href="http://www.kfourmetrics.com/download.php?file=MyImportMultipleFiles.glf.tcl">Import multiple database files at one go</a></li>
    </ol>

  </div>
</div>
