.section {
  background-color: white;
  padding-left:5%;
  padding-right:5%;
  padding-top:100px;
  padding-bottom:100px;
}

a{
  // font-size: 16px;
  // font-family: Roboto-Thin;
  // // color: black;
  // line-height: 2.063;
}
.title-text{
  font-size: 16px;
}

/* Extra Small devices (mobiles, 320px and up) */
@media (min-width: 320px) and (max-width: 767px) {

  .title{
    text-align:center;
    font-size: 50px;
  }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {

  .title{
    text-align:center;
    font-size: 50px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {


}
