<div class="section">
  <div class="col-12 center">
    <div class="title">
      <span>
        Benefits
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
    <div>
      <div class="col-12 profile text-center">
        <p>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 card-div">
      <div class="card">
        <div class="text-center d-flex align-items-center py-5 px-4 rounded">
          <div>
            <span class="fa fa-bullseye"></span><br>
            <span>Quality</span>
            <p class="pb-3 card-info">
              Mesh quality is the key to converged and accurate CFD solutions especially for viscous flows over complex geometry. With Pointwise, you get all the tools you need to achieve the desired results – high levels of automation plus intimate levels of control. Pointwise's structured grid techniques are the best available and our T-Rex technique for hybrid, boundary layer resolving meshes automates the rapid meshing of complex shapes. At the other extreme, you can even move grid points one at a time if that is what you need.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 card-div">
      <div class="card">
        <div class="text-center d-flex align-items-center py-5 px-4 rounded">
          <div>
            <span class="fa fa-thumbs-o-up"></span><br>
            <span>Flexibility</span>
            <p class="pb-3 card-info">
              Pointwise is the workhorse that moves you confidently from dealing with less-than-perfect geometry models to formatting the grid for your flow solvers. Using our proprietary geometry kernel, you will import geometry models from native CAD and standard formats, work with both analytic (NURBS) and faceted (STL) geometry representations, and ensure that your geometry is watertight and ready to mesh with fault tolerant meshing and solid meshing.
              Once your mesh is complete, you will export it and its boundary conditions to open-source, commercial, and standard CFD formats such as CGNS. And if Pointwise does not have built-in support for your preferred file format, you can add your own exporter with Pointwise's CAE Export Plugin SDK. Even the meshing process itself can be customized with templates and macros you write in our Tcl-based Glyph scripting language.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
