<div class="section">

  <div id="carousel-coco" class="carousel slide xcarousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <app-welcome></app-welcome>
      </div>
      <div class="carousel-item">
        <app-distributors></app-distributors>
      </div>
      <div class="carousel-item">
        <app-train></app-train>
      </div>
    </div>
    <a class="carousel-control-prev xd-none xd-lg-block" href="#carousel-coco" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next xd-none xd-lg-block" href="#carousel-coco" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
