.section {
  background-color: rgb(255,255,255);
  padding-top:100px;
  padding-bottom:100px;

  .left{
    padding-left: 5%;//or 185px
    text-align: left;


    .bold-font{
      font-size: 25px;
      font-family: Roboto-Regular;
      color: rgb(0, 0, 0);
    }

    .title-text{
      padding-top:30px;
      font-size: 16px;
      font-family: Roboto-Thin;
      color: rgb(0, 0, 0);
      line-height: 2.063;

      span{
        display: block;
      }
    }
  }

  .right{
    margin-top:-15px;
    padding-right:0px;
    text-align:right;

  }
}
.timeline{
  padding-right:0px;
  color:darkgray;
}

/* Extra Small devices (tablets, 768px and up) col-sm */
@media (max-width: 767px) {
  .section{
    text-align:center;
    .left{
      padding-left:5%;
      padding-right:5%;
      text-align:center;
    }
  }
}
/* Small devices (tablets, 768px and up) col-md  collapses here*/
@media (min-width: 768px) and (max-width: 992px) {
  .section{
    text-align:center;
    .left{
      padding-right:5%;
      text-align:center;

      .title{
        text-align:center;
      }

      .title-text{
        text-align:center;
      }
    }
    .right{
      text-align:center;
    }
  }
}

/* Medium devices (desktops, 992px and up)  col-lg */
@media (min-width: 992px) and (max-width: 1199px) {
  .section{
    .left{
      text-align:left;
    }
    .right{
      text-align:right;
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1920px) {}
