<section class="section col-12">
  <div class="row">
    <div class="left col-lg-6">
      <div class="title">
        <span>A brief history</span><br>
        <span class="sub-title"> Evolution of </span> <span class="bold-font">KFourMetrics</span>
        <div>
          <div class="underline-div col-lg-5 offset-lg-0 col-md-4 offset-md-4 col-4 offset-4">
            <hr class="underline">
          </div>
        </div>
      </div>
      <div class="title-text">
        <span>
          Beginning the eventful journey back in 1994, the goal was always to be at the forefront of emerging technology. The foundation was laid starting with Krittika Software Pvt. Ltd., an engineering design company based in Hyderabad. Krittika Software provided 3D CAD and CAE training, engineering services and distributed MCAE software for (what was then) SDRC. The product-line grew to include Unigraphics / NX, Solid edge, HyperWOrks and Ls-Dyna, before we sold Krittika Software and started KFour Metrics.
        </span>
      </div>
    </div>
    <div class="text-center col-lg-6 d-none d-lg-block timeline">
      <p style="font-size:3px">2005</p>
      <p style="font-size:5px">2004</p>
      <p style="font-size:7px">2003</p>
      <p style="font-size:9px">2002</p>
      <p style="font-size:11px">2001</p>
      <p style="font-size:13px">2000</p>
      <p style="font-size:15x">1999</p>
      <p style="font-size:17px">1998</p>
      <p style="font-size:19px">1997</p>
      <p style="font-size:21px">1996</p>
      <p style="font-size:23px">1995</p>
      <p style="font-size:25px">1994</p>
    </div>
  </div>
</section>
