<div class="section">
  <div class="col-12 xcenter">
    <div class="title text-center">
      <span>
        How can we help you?
      </span>
      <div>
        <div class="underline-div col-lg-2 offset-lg-5 col-md-4 offset-md-4 col-4 offset-4">
          <hr class="underline">
        </div>
      </div>
    </div>
    <div>
      <div class="col-12 profile text-center">
        <p>Technology was and still is growing at a rapid pace. Learning the practice and implementing the theory of engineering design solutions is a tough challenge for job seekers, job holders and companies investing heavily in research and development. </p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:75px">
    <div class="col-lg-3 card-div">
      <div class="card">
        <div class="text-center d-flex align-items-center py-5 px-4 rounded">
          <div>
            <span class="fa fa-bar-chart"></span>
            <p class="pb-3 card-info">
              We believe analysis, design, implementation and evaluation are the cornerstone of engineering. Our strategy has always been to focus on niche technologies.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 card-div">
        <div class="card">
          <div class="text-center d-flex align-items-center py-5 px-4 rounded">
            <div>
              <span class="fa fa-pencil-square-o"></span>
              <p  class="pb-3 card-info">
                KFour Metrics developed self-learning digital and hard copy teaching-aids for fresh graduates and working professionals on CAE.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 card-div">
        <div class="card">
          <div class="text-center d-flex align-items-center py-5 px-4 rounded">
            <div>
              <span class="fa fa-book"></span>
              <p  class="pb-3 card-info">
                A series of books covering topics like CAE and Design Optimization, CAE and Multi Body Dynamics, CAE for Simulation and Metal Forming, Managing the CAE Process and many more were conceptualised and published containing theoretical reasoning and workbooks with sample projects for practical applications using Altair HyperWorks and Simulia’s Abaqus.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 card-div">
        <div class="card">
          <div class="text-center d-flex align-items-center py-5 px-4 rounded">
            <div>
              <span class="fa fa-life-saver"></span>
              <p class="pb-3 card-info">
                We understand how technology fits into the specific applications of CAE and CFD that we work on: what it can do, what it cannot do, and how to do it.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
