<section class="section xd-none xd-lg-block">
  <div class="title text-center">
    <span>Upcoming Events</span>
    <div>
      <div class="underline-div col-lg-5 offset-lg-0 col-md-4 offset-md-4 col-4 offset-4">
        <hr class="underline">
      </div>
    </div>
  </div>

  <div style="margin-top:50px"  id="carousel-coco" class="row carousel slide xcarousel-fade xd-none xd-lg-block" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        Tecplot User Conference 2019
      </div>
      <div class="carousel-item">
        <i>"This is how I mesh"</i> Conference 2019
      </div>
      <div class="carousel-item">

        CFD Grid Generation Conference 2019
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-coco" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-coco" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section class="section2 d-none d-lg-block">
  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead capitalize">Event Details</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span id="linkid" aria-hidden="true" class="white-text" (click)="style.hide()">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div >
            <!-- <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i> -->
            <p class="text-center bold">{{title}}</p>
            <p class="text-center"><strong>Location : </strong>{{location}}</p>
            <p>{{p1}}</p>
            <p>{{p2}}</p>
            <p>{{p3}}</p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
        </div>
      </div>
    </div>
  </div>

  <app-calender-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</app-calender-header>

<div class="text-center" style="margin-top:-50px">
  <!-- <h2>clickedDate is {{clickedDate}}</h2> -->
  <button class="btn btn-custom" (click)="refreshView()">Refresh</button>
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
  *ngSwitchCase="'month'"
  [viewDate]="viewDate"
  [events]="events"
  [refresh]="refresh"
  (beforeViewRender)="beforeMonthViewRender($event)"
  (dayClicked)="clickedDate = $event.day.date"
  (eventClicked)="this.title = $event.event.title;
  this.location=$event.event.location;
  this.p1 = $event.event.p1;
  this.p2 = $event.event.p2;
  this.p3 = $event.event.p3;
  style.show()">
</mwl-calendar-month-view>
<mwl-calendar-week-view
*ngSwitchCase="'week'"
[viewDate]="viewDate"
[events]="events"
[refresh]="refresh">
</mwl-calendar-week-view>
<mwl-calendar-day-view
*ngSwitchCase="'day'"
[viewDate]="viewDate"
[events]="events"
[refresh]="refresh">
</mwl-calendar-day-view>
</div>
</section>

<div class="section" style="background-color:#efefef">
  <div class="col-12 center">
    <div class="title text-center">
      <span>
        Past Events
      </span>
    </div>

    <div class="row" style="margin-top:75px">
      <div class="col-lg-6 card-div">
        <div class="card" >
          <div class="d-flex align-items-center py-5 px-4 rounded">
            <div>
              <!-- <span class="fa fa-bullseye" style="font-size:75px;"></span><br> -->
              <p class="text-center">Pointwise Technology Conference 2018 </p>
              <p class="text-center">December 10th – 14th, 2018</p>
              <p class="text-center">Location : Hyderabad, Bangalore, Thiruvananthapuram & Chennai</p>
              <!-- <p class="pb-3" style="margin-top:50px; font-size:12px">
                Summary: This conference was chaired by Dr Richard Matus, Executive Vice President of Pointwise. Participants included Pointwise users as well as CFD scientists & engineers from across the industry spectrum. The conference succeeded in addressing the following topics while also allowing for One-on-One interactive sessions with the event chair.
              </p> -->
              <ul class="pb-3 card-info">
                  <li>Review of the key happenings at Pointwise, USA including Software features which Pointwise had focused on & key challenges faced. </li>
                  <li>A series of presentations by Pointwise users titled This is how I mesh, focusing on meshing challenges and creating a platform for discussion on features users would like to see in the next version of Pointwise.</li>
                  <li>A summary of upcoming features in Pointwise including applications and discussions on feature-requests from users.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 card-div">
        <div class="card" >
          <div class="d-flex align-items-center py-5 px-4 rounded">
            <div>
              <p class="text-center">The Future of the Grid in CFD/FEA </p>
              <p class="text-center">November 6th – 10th, 2017</p>
              <p class="text-center">Location : Hyderabad, Pune, Bangalore, Thiruvananthapuram & Chennai</p>
              <!-- <p class="pb-3">
                Summary: This conference was chaired by Dr Richard Matus, Executive Vice President of Pointwise. Participants included Pointwise users as well as CFD scientists & engineers from across the industry spectrum. The conference succeeded in addressing the following topics while also allowing for One-on-One interactive sessions with the event chair.
              </p> -->
              <ul class="pb-3 card-info">
                  <li>Tracing the path taken by engineering simulation over the past 30 years and the challenges ahead.</li>
                  <li>A global overview of CAE in diverse sectors while reflecting on aspects that have had a specific impact on the Indian market such as the abilities to separate mesh generation and simulation.</li>
                  <li>Grid Generation and CAE as related to Simulation time, Cost and Accuracy. Meshing challenges to commercial software developers, current and future needs of CFD users & the short and long-term development concerns and plans for the future.</li>
                  <li>Technology & Development behind Pointwise, the best ways to efficiently produce meshes for accurate simulations, views on the advent of high order flow solvers, FEM using curved meshes and other developments to increase accuracy.</li>
                  <li>Application-case studies related to the CAE design cycle and the roles played by tools like Pointwise in providing unmatched control over the grid as well as Sculptor which allows analysts to modify verified CAE models, either for optimization or design changes.</li>
                </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
