

<section class="section col-12">
  <div class="row">
    <div class="left col-lg-6 d-none d-lg-block">
      <img class="img-responsive" src="./assets/images/training_icon.png" />
    </div>

    <div class="right col-lg-6">
      <div class="title">
        <span>Training</span>
        <div>
          <div class="underline-div col-lg-5 offset-lg-0 col-md-4 offset-md-4 col-4 offset-4">
            <hr class="underline">
          </div>
        </div>
      </div>
      <div class="title-text">
        <span>
        KFourMetrics trains engineers in the underlying principles and fundamentals of CAE & CFD and various approaches to applying simulation results in product design.
          The training is software independent with focus on the numerical and computational layer so important to improve quality of Simulation results.
        </span>
      </div>
    </div>

  </div>
</section>
